// variables
$bodyBackground: #FBFFFF;
$beaverRed: #CF2A2E;
$darkBeaver: #ba2529;
$lightBlue: #C7EEE9;
$lessLightBlue: #8FCCCF;
$txtOrange: #EA492D;
$txtDarkBlue: #28575e;


html {
  box-sizing: border-box;
}

::selection {
  background: $txtOrange;
  color: #fff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url('background-images/crossword.png') repeat top left $bodyBackground;
  font-family: Helvetica;
  color: $txtDarkBlue;
}

svg, g, path, ellipse, circle {
  fill: $beaverRed;
}

h2 {
  font-size: 26px;
}

button {
  transition: all 0.1s;
  font-size: 25px;
  padding: 10px 40px;
  background: linear-gradient($lightBlue, $lessLightBlue);
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  text-decoration: none;
  margin: 5% 25%;
  width: 50%;
  border-radius: 15px;
  border: 2px solid $lessLightBlue;
}

.disabled {
  background: #ccc;
}

.beaver-container{
  display: flex;
  .beaver {
    margin: 0 auto;
  }
}

.tail {
    position: relative;
    animation: wag .4s linear infinite;
    animation-play-state: paused;
}

svg g:hover .tail {
  animation-play-state: running;
}

@keyframes wag {
    50% {transform: rotate(2deg);}
}

.quiz-container {
  width: 60%;
  margin: 0 auto;
}
// much credit to this blog post for showing me a great way to customise my radio buttons http://codersblock.com/blog/checkbox-trickery-with-css/?utm_source=html5weekly&utm_medium=email
input[type="radio"] {
  position: absolute;
  left: -9999px;
}


label {
  display: block;
  position: relative;
  margin: 10px 0;
  padding-left: 35px;
  cursor: pointer;
  color: $txtOrange;
  font-size: 20px;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
    }
  &:after {
    display: none;
    width: 12px;
    height: 12px;
    margin: 4px;
    background-color: $txtOrange;
  }
  &:before {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $txtOrange;
  }
}

input:focus + label::before {
  border-color: $txtOrange;
}


input[type="radio"] + label::before,
input[type="radio"] + label::after {
  border-radius: 50%;
}

input:checked + label::after {
  display: block;
}

.result {
  text-align: center;
  background: url('background-images/leaf.svg'), linear-gradient($lightBlue, $lessLightBlue);
  background-position: center;
  color: #fff;
  padding: 10px;
  text-shadow: 1px 1px 2px #000;
  border-radius: 15px;
  border: 2px solid $lessLightBlue;
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  p {
    font-size: 20px;
  }
}
